In [14]:
def myfn(a,b,c):
    result = a+b+c
    print(result)

In [15]:
print (myfn(1,2,3))

6
None

In [31]:
def function_with_keyword_arguments(name ="" , age=0):
    print ("당신의 이름은 {}이며, 나이는 {} 입니다.".format (name, age))

In [32]:
function_with_keyword_arguments("고구마라떼", 10)

당신의 이름은 고구마라떼이며, 나이는 10 입니다.

In [33]:
function_with_keyword_arguments(10)

당신의 이름은 10이며, 나이는 0 입니다.

In [34]:
function_with_keyword_arguments(age = 45, name = "윤재하")

당신의 이름은 윤재하이며, 나이는 45 입니다.

# Packing

In [44]:
def fn2(*colors):
    return(colors)

In [45]:
print(fn2())

()

In [46]:
print(fn2('white'))

('white',)

In [56]:
print(fn2("white","purple"))

('white', 'purple')

In [72]:
def fn3(color1, color2,*other_colors):
    print ("color1 :", color1)
    print ("color2 :", color2)
    for color in other_colors : 
        print (color)

In [73]:
fn3('pink', 'white')

color1 : pink
color2 : white

In [74]:
fn3('핑크', '재하', '크리스토퍼 놀란', '마카롱')

color1 : 핑크
color2 : 재하
크리스토퍼 놀란
마카롱

# Unpacking

In [54]:
colors =['white','blue','black']
other_colors =['kite','red','orange']

In [55]:
print(fn2(*colors))
fn2('pink','mashroom',*colors,*other_colors)

('white', 'blue', 'black')

('pink', 'mashroom', 'white', 'blue', 'black', 'kite', 'red', 'orange')

In [77]:
fn3 ("purple", *colors, *other_colors)

color1 : purple
color2 : white
blue
black
kite
red
orange

# Anonymous Function

In [78]:
lambda x,y : x+y

In [79]:
(lambda x,y : x+y)(1,2)

3

In [80]:
def mysum(x,y):
    print(x+y)

In [81]:
mysum(7,8)

15

In [82]:
mysum2 = lambda x,y : x+y

In [85]:
print(mysum2(56,4))

60

In [90]:
mysum3 = lambda *numbers : sum(numbers)

In [91]:
print (mysum3(1,2,3,4,4,5,6,7,8))

40